.splash-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5d5d5d;
  z-index: 99999;

  .center {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .logo {
      margin: 0 auto;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      text-align: center;

      img {
        width: 200px;
        margin-top: 20px;
      }

      .sk-spinner-three-bounce div {
        background-color: #faec20;
      }
    }
  }
}
