<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Krishnendu Sekhar Das</strong>
                            </span> <span class="text-muted text-xs block">Admin <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">Logout</a></li>
                        </ul>
                </div>
                <div class="logo-element">
                    VJ
                </div>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-file-text"></i> <span class="nav-label">Pages</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="dashboard_2.html">Flight Blog</a></li>
                    <li><a href="dashboard_3.html">Destination</a></li>
                    <li><a href="dashboard_4_1.html">FAQ</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>