  <form class="well" (submit)="addTask($event)">
    <div class="form-group" >
      <input type="text" class="form-control" [(ngModel)]="first_name" name="first_name" placeholder="First name">
      <input type="text" class="form-control" [(ngModel)]="last_name" name="last_name" placeholder="Last name">
      <input type="text" class="form-control" [(ngModel)]="gender" name="gender"placeholder="Gender">
      <input type="submit" class="form-control">
    </div>
  </form>
  <div *ngFor="let task of tasks">
    <div class="task-list">
      <div class="col-md-4">
        {{task.first_name}} {{task.last_name}}
      </div>
      <div class="col-md-4">
        {{task.gender}}
      </div>
      <div class="col-md-4">
        <input type="button" class="btn btn-danger" (click)="deleteTask(task._id)" value="Delete">
      </div>
    </div>
    <br><br>
  </div>
