<!-- <h1>Angular Routerdd</h1>
<nav>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>
<router-outlet></router-outlet> -->
<div id="wrapper">
    <vj-navigation></vj-navigation>
    <div id="page-wrapper" class="gray-bg">
        <vj-header></vj-header>
        <router-outlet></router-outlet>
        <vj-footer></vj-footer>
    </div>
</div>
